<% layout('layouts/boilerplate') %>
<h1>Edit <%= post._id %>
</h1>

<form action="/post/<%= post._id %>?_method=PUT" method="post">
    <div>
        <label for="title">Post title:</label>
        <input type="text" id="title" name="post[title]" value="<%= post.title %>">
    </div>
    <div>
        <label for="body">Post body:</label>
        <input type="text" id="title" name="post[body]" value="<%= post.body %>">
    </div>
    <button>Edit post</button>
</form>
